<div id="bg-decor" class="bg-decor"></div>

<nav class="nav-menu">
    <div class="nav-div" onclick="mostrarConfig()"><img src="/images/configuracion.png" height="30" width="30"></div>
    <div class="nav-div"><button class="btn-nav" onclick="cargarPagina('/inicio')"><img src="/images/inicio.png" height="30" width="30"></button></div>
    <div class="nav-div"><button class="btn-nav" onclick="cargarPagina('/addMusic')"><img src="/images/agregar.png" height="30" width="30"></button></div>

    <div class="nav-div"><button class="btn-nav" onclick="cargarPagina('/ver_musicas')"><img src="/images/lista-musica.png" height="30" width="30"></button></div>
    <div class="nav-div"><button class="btn-nav" onclick="cargarPagina('/ver_imagenes')"><img src="/images/lista-imagenes.png" height="30" width="30"></button></div>
    <div class="nav-div"><a class="btn-nav" href="/logout"><img src="/images/cerrar-sesion.png" height="30" width="30"></a></div>
</nav>